In [1]:
#lists are sequence data structures
#lists are indexable
#lists are mutable

In [2]:
lst = [1,2,3]
len(lst)

3

In [ ]:
#append

In [1]:
lst = [1,2,3]

In [3]:
lst.append(4) #append accepts only 1 argument

In [5]:
lst

[1, 2, 3, 4]

In [7]:
#insert

In [8]:
lst = [1,3,4]
lst.insert(1,2)
print(lst)

[1, 2, 3, 4]

In [9]:
#remove (removes only the first occurence)

In [11]:
lst = [1,2,3]
lst.remove(2)
print(lst)

[1, 3]

In [12]:
lst = [1,2,3,2,2]
lst.remove(2)
print(lst)

[1, 3, 2, 2]

In [13]:
#append and extend

In [14]:
lst1 = [1,2,3]
lst2 = [4,5,6]

lst1.append(lst2)
print(lst1)

[1, 2, 3, [4, 5, 6]]

In [15]:
lst1 = [1,2,3]
lst2 = [4,5,6]

lst1.extend(lst2)
print(lst1)

[1, 2, 3, 4, 5, 6]

In [16]:
#delete

In [4]:
lst1 = [1,2,3,4,5,6,3]

del lst1[1] #delete based on position
print(lst1)

a = lst1.pop(3) #removes no from a given index
print(lst1, a)

[1, 3, 4, 5, 6, 3]
[1, 3, 4, 6, 3] 5

In [69]:
lst1 = [1,2,3,4,5,6,3] #deletes 1st occurence of element


lst1.remove(3)
print(lst1)

[1, 2, 4, 5, 6, 3]

In [23]:
#in and not in

In [25]:
lst = [1,2,3,4,5,6]

print(2 in lst)

print(7 not in lst)

True
True

In [26]:
#reverse

In [28]:
lst = [1,2,3,4,5,6]

lst.reverse()
lst

[6, 5, 4, 3, 2, 1]

In [29]:
#sort

In [71]:
nos = [4,1,3,9,8]

print(sorted(nos))
print(nos)

[1, 3, 4, 8, 9]
[4, 1, 3, 9, 8]

In [31]:
nos = [4,1,3,9,8]

sorted(nos, reverse=True)

[9, 8, 4, 3, 1]

In [33]:
nos = [4,1,3,9,8]
nos.sort() #inplace sort
nos

[1, 3, 4, 8, 9]

In [34]:
lst = [1,20, 'a','b']
lst.sort()
lst

TypeError: '<' not supported between instances of 'str' and 'int'

In [35]:
#references

In [37]:
lst = [1,2,3,4,5,6]
lst2 = lst

lst2.append(7)
print(lst, lst2)

[1, 2, 3, 4, 5, 6, 7] [1, 2, 3, 4, 5, 6, 7]

In [38]:
#split string to create a list

In [39]:
s = "one,two,three,four"
spl = s.split(',')
spl

['one', 'two', 'three', 'four']

In [40]:
s = "one two three four"
spl = s.split()
spl

['one', 'two', 'three', 'four']

In [41]:
#indexing

In [43]:
lst = [1,2,3,4]
print(lst[1])
print(lst[-1])

2
4

In [44]:
#slicing list[start:end:stepsize]

In [45]:
lst = [10,20,30,40,50,60,70,80,90]

print(lst[:]) #prints the list

print(lst[0:4])

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40]

In [47]:
lst = [10,20,30,40,50,60,70,80,90]
print(lst[::2]) 

print(lst[2::2])

[10, 30, 50, 70, 90]
[30, 50, 70, 90]

In [48]:
#list extend using +

In [49]:
lst1 = [1,2,3]
lst2 = ["a","b","c"]

lst1 + lst2 # + acts as extend fn

[1, 2, 3, 'a', 'b', 'c']

In [50]:
#list count (frequency of list items)

In [52]:
lst = [1,2,4,3,1,3,4,5,1]
print(lst.count(1))
print(lst.count(5))

3
1

In [53]:
#list looping

In [54]:
lst = [1,2,3,4]

for el in lst:
    print(el)

1
2
3
4

In [55]:
#list comprehension

In [57]:
sq = []
for i in range(10):
    sq.append(i**2)
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
sq = [i**2 for i in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
lst = [10,-20,50,60]

newlst = [el * 2 for el in lst]
print(newlst)

newlst = [el * 2 for el in lst if el >0]
print(newlst)

[20, -40, 100, 120]
[20, 100, 120]

In [62]:
#list of tuples

In [5]:
newlst = [(i, i**2) for i in range(10) if i%2==0]
print(newlst)

[(0, 0), (2, 4), (4, 16), (6, 36), (8, 64)]

In [66]:
#nested list comprehension

In [67]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

#transpose of matrix
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [68]:
transposed = [[row[i] for row in matrix]for i in range(4)]
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]