In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
#creating a manual df, rarely used list of tuples to create df

weather_data = [('1/1/2017',32,6,'Rain'),
                ('1/2/2017',35,7,'Sunny'),
                ('1/3/2017',28,2,'Snow'),
                ('1/4/2017',24,4,'Snow'),
                ('1/5/2017',32,4,'Rain'),
                ('1/6/2017',31,2,'Sunny'),
                ]
df = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          4   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [17]:
df.shape #total no of rows and cols

(6, 4)

In [18]:
#to list initial rows , default is 5
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          4   Snow
4  1/5/2017           32          4   Rain

In [19]:
#to list last rows , default is 5
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          4   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [20]:
#slicing
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          4  Snow
4  1/5/2017           32          4  Rain

In [21]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
#list specific column
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [23]:
#or
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [24]:
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [26]:
#get max temperature
df['temperature'].max()

35

In [27]:
#describe info
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [30]:
df.temperature == df.temperature.max()

0    False
1     True
2    False
3    False
4    False
5    False
Name: temperature, dtype: bool

In [28]:
#select rows which have max temp
#returns row with max temp
df[df.temperature == df.temperature.max()] #df.temperature == df.temperature.max() says which row which has the max temp

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [29]:
#select day column which have max temp
df.day[df.temperature == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object