In [1]:
#tupples are immutable

In [2]:
t = ()
print(t)
t = (1,2,3)
print(t)
t = (1,"aa",2,"bb")
print(t)
t = (1,(1,2),[1,"aa","b",33])
print(t)

()
(1, 2, 3)
(1, 'aa', 2, 'bb')
(1, (1, 2), [1, 'aa', 'b', 33])

In [7]:
t = ("aa")
print(type(t))

t = ("aa", "vv")
print(type(t))

<class 'str'>
<class 'tuple'>

In [6]:
#to check if tuple is of type tuple with 1 element then use a trailing comma
t = ("aa",)
print(type(t))

t = "aa",
print(type(t))

<class 'tuple'>
<class 'tuple'>

In [8]:
#accessing tuples

In [10]:
t = ("q","w","e")
print(t[0])
print(t[-1])

q
e

In [13]:
t = ("abc",("a","b","c"))
print(t[1])
print(t[1][2])

('a', 'b', 'c')
c

In [14]:
#slicing

In [19]:
t = (1,2,3,4,5,6)
print(t[1:4])

print(t[:-2])

print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

In [ ]:
#modifying tuple

In [20]:
t = (1,2,3,4,[5,6,7])
t[2] = "x"

TypeError: 'tuple' object does not support item assignment

In [22]:
t[4][0] = "changed"
t

(1, 2, 3, 4, ['changed', 6, 7])

In [23]:
#concatenating tuples

In [24]:
t = (1,2,3) + (4,5,6)
t

(1, 2, 3, 4, 5, 6)

In [44]:
#repeat elements of tuple
t = (('aa',) * 4)
t

('aa', 'aa', 'aa', 'aa')

In [26]:
#repeat elements of tuple
t = (('aa','bb') * 4)
t

('aa', 'bb', 'aa', 'bb', 'aa', 'bb', 'aa', 'bb')

In [27]:
#tuple deletion

In [28]:
t = (1,2,3)
del t
print(t)

NameError: name 't' is not defined

In [29]:
#tuple count (frequency)

In [30]:
t = (1,2,3,1,2,1,4,4)
t.count(1)

3

In [31]:
#tuple index

In [32]:
t = (1,2,3,1,2,1,4,4)
t.index(4) #returns the 1st index of 4

6

In [33]:
#tuple membership (in, not in)

In [34]:
t = (1,2,3,1,2,1,4,4)
print(1 in t)
print(8 not in t)

True
True

In [35]:
#built in functions

In [36]:
t = (1,2,3,1,2,1,4,4)
len(t)

8

In [37]:
#sort

In [39]:
newt = sorted(t)
print(t, newt)

(1, 2, 3, 1, 2, 1, 4, 4) [1, 1, 1, 2, 2, 3, 4, 4]

In [40]:
#max, min

In [42]:
t = (1,2,3,1,2,1,4,4)
print(max(t))
print(min(t))
print(sum(t))

4
1
18